<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <base href="{{baseHref}}" />
    <link rel="stylesheet" href="{{elements-css}}">
  </head>
  <body style="display: flex; flex-direction: column; height: 100vh;">
    <elements-api
      basePath="{{elements.basePath}}"
      hideInternal="{{elements.hideInternal}}"
      hideTryIt="{{elements.hideTryIt}}"
      tryItCorsProxy="{{elements.tryItCorsProxy}}"
      layout="{{elements.layout}}"
      logo="{{elements.logo}}"
      router="{{elements.router}}"
      style="{{elements.style}}"
    ></elements-api>
    <script src="{{elements-js}}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', async () => {
        const [docs] = document.getElementsByTagName('elements-api')
        try {
          let text = await fetch('{{elements.apiDescriptionUrl}}').then(res => res.text())
          {{#each variables}}
          text = text.replaceAll('{{../delimiters.open}}{{@key}}{{../delimiters.close}}', '{{this}}')
          {{/each}}
          console.info('Successfully fetched API docs and replaced variables')
          docs.apiDescriptionDocument = text
        } catch(err) {
          console.info('Failed to fetch API docs, trying to render it from URL')
          docs.apiDescriptionUrl = '{{elements.apiDescriptionUrl}}'
        }
      })
    </script>
    {{#if livereload-js}}
    <script src="{{livereload-js}}?snipver=1"></script>
    {{/if}}
  </body>
</html>
